---
driver:
  name: docker
platforms:
  - name: instance
    image: 'geerlingguy/docker-ubuntu2404-ansible:latest'
    volumes:
      - /var/lib/docker
    privileged: true
    pre_build_image: false
    buildargs:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      NO_PROXY: ${NO_PROXY}
      CACHE_BUSTER: "{{ lookup('pipe', 'date +%s') }}"
    nocache: true
provisioner:
  name: ansible
  env:
    ANSIBLE_CONFIG: molecule/default/ansible.cfg
    ANSIBLE_ROLES_PATH: '${PWD}/..'
    ANSIBLE_COLLECTIONS_PATH: '${PWD}/molecule/default/galaxy/collections'
    ANSIBLE_VERBOSITY: 5
    HTTP_PROXY: lookup('ansible.builtin.env', 'HTTP_PROXY')
    HTTPS_PROXY: lookup('ansible.builtin.env', 'HTTPS_PROXY')
    NO_PROXY: lookup('ansible.builtin.env', 'NO_PROXY')
    stdout_callback: debug
    hosts:
      all:
        hosts:
          instance:
            ansible_host: localhost
verifier:
  name: ansible

scenario:
  test_sequence:
    - destroy
    - create
    - converge
    - cleanup
    - destroy
