---
- name: Install ansible-lint
  pip:
    name:
      - ansible-lint[yamllint]
    extra_args: --user
  environment:
    DISPLAY: ''  # Fix to resolve extremely slow installs on WSL2 (see https://github.com/microsoft/WSL/issues/6643)
