distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
distributionUrl=https\://jfrog.elhub.cloud/artifactory/elhub-bin/elhub-gradle/0.3.0/elhub-gradle-0.3.0.zip
zipStoreBase=GRADLE_USER_HOME
zipStorePath=wrapper/dists
