# homebrew tasks file
---
- name: Ensure required build tools are installed
  ansible.builtin.apt:
    name:
      - build-essential
      - procps
      - curl
      - file
      - git
    state: present
    update_cache: yes
  become: true

- name: Is HomeBrew installed?
  ansible.builtin.stat:
    path: /home/linuxbrew/.linuxbrew
  register: homebrew_stat

- name: Ensure Homebrew prefix exists and is owned by the non-root user
  ansible.builtin.file:
    path: /home/linuxbrew/.linuxbrew
    state: directory
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_gid'] }}"
    mode: '0755'
  become: true
  when: not homebrew_stat.stat.exists

- name: Install Homebrew if it does not exist
  ansible.builtin.shell:
    cmd: NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  become: false
  when: not homebrew_stat.stat.exists

- name: Shell rc file
  ansible.builtin.copy:
    content: |
      # Managed by ansible elhub.wsl.homebrew
      eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    dest: "{{ ansible_facts['env']['HOME'] }}/.shrc.d/50-homebrew.sh"
    mode: 0644

- name: Ensure brew is up to date
  ansible.builtin.shell:
    cmd: |
      set -eu
      . {{ ansible_facts['env']['HOME'] }}/.shrc.d/50-homebrew.sh
      brew update
  register: _homebrew_update
  changed_when: not 'Already up-to-date.' in _homebrew_update.stdout

- name: Systemd services and timers to update and upgrade
  ansible.builtin.template:
    dest: "/usr/lib/systemd/system/{{ item }}"
    src: "{{ item }}.j2"
    mode: '0644'
    owner: root
    group: root
  become: true
  register: _homebrew_services
  loop:
    - brew-update.service
    - brew-update.timer
    - brew-upgrade.service
    - brew-upgrade.timer

- name: Systemd daemon-reload if services changed
  ansible.builtin.systemd_service:
    daemon_reload: yes
  when: _homebrew_services.changed
  become: true

- name: Enable systemd timers
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: yes
    state: started
  become: true
  loop:
    - brew-update.timer
    - brew-upgrade.timer
