---
- name: Clean old dev-tools installation
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "/usr/local/lib/adr-j-3.1.0-SNAPSHOT"
    - "/usr/local/bin/adr"
  become: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: Unpack adr-j lib
  ansible.builtin.unarchive:
    src: "{{ adr_repository }}/{{ adr_version }}/adr-j.zip"
    dest: "{{ ansible_facts['env']['HOME'] }}/.local/lib"
    remote_src: yes
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_gid'] }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Link adr
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.local/lib/adr-j-{{ adr_version }}/bin/adr-j"
    dest: "{{ ansible_facts['env']['HOME'] }}/.local/bin/adr"
    state: link
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_gid'] }}"
  ignore_errors: "{{ ansible_check_mode }}"
