# {{ ansible_managed }}
[Unit]
Description=Timer for upgrading Brew packages
Wants=network-online.target

[Timer]
OnBootSec=30min
OnUnitInactiveSec=10h
Persistent=true

[Install]
WantedBy=timers.target
